.header-container {
    height: 4rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border: 1px solid #2f2f2f;
    background-color: rgb(22, 22, 43);

    .search-container {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        min-width: 15rem;
    }

    .actions-container {
        height: 100%;   
        display: flex;
        align-items: center;
    }
    .group-details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-inline-end: 1px solid green;
        padding-inline: 1rem;
        .group-details__title {
            font-size: 1.75rem;
        }
        .group-details__id {
            font-size: 0.75rem;
        }
    }
}