.topbar-container {
  background-color: var(--background-level-1);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .topbar-start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .topbar-actions {
    display: flex;
    gap: 0.5rem;
  }
}
