.item-container {
    border: 1px solid white;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .action-container {
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline: 1rem;
        border-inline-end: 1px solid white;
        gap: 0.5rem;
    }

    .item__name {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .item__id {
        font-weight: 400;
        font-size: 1rem;
    }
}