:root {
    --me-background-primary: #001526ff;
    --me-text-primary: #ffffffcc;
}
html {
    height: 600px;
    width: 600px;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
}
html {
    body {
        height: 100%;
        font-size: 14px;
        color: var(--me-text-primary);
        display: flex;
        flex-direction: column;
        background-color: var(--me-background-primary);
        border-radius: 1rem;
        // margin: 1rem;
        &.light {
            // @include light;
        }
    
        &.dark {
            // @include dark;
        }
    }
}


