.shell-container {
  @apply bg-slate-800 p-4 flex flex-col;
  border: 1px solid green;
  height: 99%;
}

.link {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding-inline: 0.5rem;
  &:hover {
    background: rgb(96, 96, 255);
  }
}
